@import "tailwindcss";

:root {
  --background: #F0F0F0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #F0F0F0;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

main {
  padding-top: 20px;
}

h1,h2,h3 {
  color: #1A3263;
}
